<!-- @let selectedInstrument = this.selectedInstrument(); -->

<mat-card class="market-data">
  <mat-card-title>Market Data:</mat-card-title>
  <mat-card-content>
    <div class="data-grid">
      <div><strong>Symbol:</strong> <p>{{ selectedInstrument()?.symbol ? selectedInstrument()?.symbol : '----' }}</p></div>
      <div><strong>Price:</strong> <p>{{ selectedInstrument()?.price ? selectedInstrument()?.price : '----'}}</p></div>
      <div><strong>Time:</strong> <p>{{ selectedInstrument()?.timestamp ? (selectedInstrument()?.timestamp | date: 'dd.MM.yyyy HH:mm:ss') : '----'}}</p></div>
    </div>
  </mat-card-content>
</mat-card>
